# RPC URL (Alchemy recommended)
# Production: RPC_URL_MAINNET + NODE_ENV=production
# Development: RPC_URL_SEPOLIA (default)
RPC_URL_MAINNET=
RPC_URL_SEPOLIA=

# (Optional) Postgres database URL. If not provided, SQLite will be used.
DATABASE_URL=
